.searchForm{
    display: flex;
    justify-content: center;
    padding: 10px;
    gap: 10px;
}

.searchInput,
.searchBtn {
    padding: 10px;
    border-radius: 5px;
    outline: none;
    background-color: #eee;
    border: 1px solid #eee;
}

.searchInput:focus,
.searchBtn:focus {
    border: 1px solid #bbb;
}