.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 16px;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    padding: 8px 0;
    margin-bottom: 16px;
    border-bottom: 1px solid black;
}

.navigation{
    display: flex;
    gap: 10px;
}
.navLink{
    padding: 8px 16px;
    border-radius: 4px;
    text-decoration: none;
    color: black;
    font-weight: 500;
    transition: 300ms ease;
    background-color: #eee;
}

.navLink:hover{
    background-color: #ddd;
}

.navLink:active{
    color: white;
    background-color: #bbb;
}